body {
    background: linear-gradient(white 15%, rgba(0, 0, 0, 0.411) 40%, white);
    color: rgba(0,0,0,1);
    font-family: Arial Narrow, sans-serif;
    margin: 0;
    padding: 0;
    
}
/*
.interface {
    width: 90%;
    margin: -40px auto 0px auto;
    box-shadow: 0px 0px 10px #ffffff;
    padding: 10px;
}*/
p {
    text-align: justify;
    text-indent: 50px;
}
a {
   color: #ffffff;
   text-decoration: none; 
}
.logo {
    position: relative;
    background: black;
    top: -25px;
    width: 100%;
    margin: 0;
    height: 40px;
    box-sizing: border-box;
}
.logo h1 {
    position: relative;
    top: 5px;
    color: rgb(255, 255, 255);
    font-size:  25pt;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .6);
    font-weight: bolder; 
}
.logo h2 {
    position: relative;
    color: #000000;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    top: -15px;
    left: 3px;
    font-size: 16pt;
    display: inline;
    border-bottom: 3px rgb(0, 0, 0) solid;
    padding: 3px; 
}

.icon {
    position: relative;
    left: 200px;
    top: 120px;
    border: 1px solid white;
    box-shadow: 1px 1px 3px black;
    width: 640px;
    height: 415px;
    border-radius: 5px;
    overflow: hidden;
}
.icon figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
.icon figcaption h1 {
    font: 20pt sans-serif;
    color: green;
}
.icon figcaption h2 {
    font: 15pt sans-serif;
    color: yellow;
}
.icon figcaption h3 {
    font: 12pt sans-serif;
    color: blue;
}
.icon figcaption:hover {
    opacity: 1;
    cursor: pointer;
}
#buttonOne, #buttonTwo,
#buttonThree {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #0000007c;
    color: white;
    font-size: 15pt;
    border: 1px solid rgb(255, 255, 255, 0.582);
    box-shadow: 1px 1px 10px #000000;
    text-shadow: 1px 1px 4px white;
    transform: translateY(-50%);
    cursor: pointer; 
}
#buttonOne {
    right: 50px;
}
#buttonTwo {
    top: 60%;
    right: 50px;
}
#buttonThree {
    top: 70%;
    right: 50px;
}
.screenLeg {
    position: relative;
    width: 80%;
    height: 80%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px black;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
}
.screenLeg img{
    width: 100%;
    height: 100%;
    display: block;
}
.screenLeg figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
.screenLeg:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

/* Menu Formatting */
.menu {
    display: block;
}
.menu h1 {
    display: none;
}
.menu ul {
    list-style: none;
    text-transform: none;
    position: absolute;
    top: 90px;
    left: 70px;
}
.menu li {
    display: inline;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    transition: background 1s;
    border-radius: 1px;
    cursor: pointer;  
}
.menu li:hover {
    background: linear-gradient(white 90%, #000000);
}
.menu a {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 1px 1px 5px #0000008a;
}
.corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #ffffff7a; /* center */
    padding-right: 15px;
    margin-top: 20%;
    margin-left: 10px;
   
}
.topNews h2 {
    font-size: 15pt;
    color: #000000;
    background: #ffffff2d;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}
.cabecalho-artigo h1 {
    font-size: 30pt;
    text-shadow: 2px 2px 5px  rgb(0, 0, 0);
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
}
.cabecalho-artigo h2 {
    font-size: 15pt;
    color: #ffffff;
    background: #ffffff3a;
}
.cabecalho-artigo h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.cabecalho-artigo .direita {
    font-size: 10pt;
    text-align: right;
    color: rgb(0, 0, 0);
}
.tablespec {
    border: 1px solid #ffffff;
    border-spacing: 0px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.tablespec td{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.tablespec .left {
    color: white;
    background-color: #4400ff96;
    vertical-align: top;
    font-weight: bold;
}
.tablespec .right {
    background-color: crimson;  
}
caption {
    color: #000;
    font-size: 20pt;
    font-weight: bolder;
}
caption span {
    display: block;
    float: right;
    color: yellow;
    font-size: 12pt;
    margin-top: 20px;
}
.lateral {
    display: block;
    width: 400px;
    float: right;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 5px;
    padding: 10px;
    margin-top: 22%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    margin-right: 40px;
}
.lateral h1 {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
    background-color: crimson;
    border-radius: 5px;
}
.lateral h2 {
    background-color: #4400ff96;
    border-radius: 5px;
    font-size: 20pt;
    text-align: center;
    text-shadow: 1px 1px 4px white;
    color: white;
    padding: 5px; 
}
 .stadium h1 {
     position: absolute;
     background-color: crimson;
     text-shadow: 1px 1px 4px rgb(255, 255, 255);
     border-radius: 5px;
     color: white;
     top: 165vh;
     left: 64vw;
 }
 .stadium p {
    position: absolute;
    top: 172vh;
    left: 54vw;
    width: 42%;
    font-size: 17pt;
    background: rgba(255, 255, 255, 0.486);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-align: center;
    
 }
 
 .stadium img { 
    margin: 30px;
    margin-top: 35%;
    width: 400px; 
    height: 300px;   
    border:  1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;;
 }

.rodape {
    border-top: 1px solid #ffffff;
    clear: both;
    background-color: #000000;
    border-radius: 2px;    
}
.rodape p {
    text-align: center;
    color: white;
}
