.cabecalho-artigo {
    margin-top: 150px;
    text-align: center;
}
form {  
    width: 500px;
    margin: 50px auto;
}
input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    border-radius: 5px;
}
input:hover, textarea:hover{
    background-color: #00000027;
}
legend {
    color: black;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
fieldset {
    border-color:  hsl(0, 0%, 100%);
    box-shadow: 1px 1px 4px black;
    border-radius: 4px;
    margin: 20px;
}
fieldset#sex{
    width: 150px;
}
fieldset#user {
    background: url("/_inteface/group.svg") no-repeat 38% 70%;
}
fieldset#address {
    background: url("/_inteface/home.svg") no-repeat 72% 18%;
}
fieldset#msg {
    background: url("/_inteface/contact.svg") no-repeat 30% 32%;
}
fieldset#request {
    background: url("/_inteface/apparel.svg") no-repeat 42% 37%;

}
input#cEnviar {
    position: relative;
    left: 40%;
    background: linear-gradient(yellow, #009dff);
    color: white;
    width: 100px;
    height: 40px;
    
}