.cabecalho-artigo {
    position: relative;
    top: 12vw;
    margin: 100px;
    text-align: center;
}
.album {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
.album li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}
.album li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 12pt;
    line-height: 370px;
    padding: 5px;
}
.album li:hover{
    -webkit-transform: scale(1.5);
}
.album li:hover span{
    opacity: 1;
}
.album li#photo01 {
    background: url(/_image/1.jpg);
    background-position: 50% 50%;
    background-size: 640px 427px;
    background-color: white;
}
.album li#photo01:hover{
    background-position: 0px 0px;
    background-size:  200px 200px;
}
.album li#photo02 {
    background: url(/_image/2.jpg);
    background-position: 50% 50%;
    background-size: 640px 427px;
    background-color: white;
}
.album li#photo02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}
.album li#photo03 {
    background: url(/_image/3.jpg);
    background-position: 50% 50%;
    background-size: 640px 427px;
    background-color: white;
}
.album li#photo03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
.album li#photo04 {
    background: url(/_image/4.jpg);
    background-position: 50% 50%;
    background-size: 639px 414px;
    background-color: white;
}
.album li#photo04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
.album li#photo05 {
    background: url(/_image/6.jpg);
    background-position: 50% 50%;
    background-size: 640px 427px;
    background-color: white;
}
.album li#photo05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
.album li#photo06 {
    background: url(/_image/8.jpg);
    background-position: 50% 50%;
    background-size: 640px 427px;
    background-color: white; 
}
.album li#photo06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

